*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f9f9f9;
  color: #111;
}

header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #333;
      color: white;
      padding: 1rem;
    }

    .menu {
      display: none;
      flex-direction: column;
      background-color: #333;
    }

    .menu a {
      color: white;
      padding: 1rem;
      text-decoration: none;
      border-top: 1px solid #444;
    }

    .menu a:hover {
      background-color: #444;
    }

    .hamburguesa {
      display: flex;
      flex-direction: column;
      cursor: pointer;
    }

    .hamburguesa span {
      width: 25px;
      height: 3px;
      background: white;
      margin: 4px 0;
    }

    #toggle {
      display: none;
    }

    #toggle:checked + .hamburguesa + .menu {
      display: flex;
    }

    @media (min-width: 768px) {
      .hamburguesa {
        display: none;
      }

      .menu {
        display: flex;
        flex-direction: row;
      }

      .menu a {
        border: none;
        padding: 1rem 2rem;
      }
    }

    section {
  padding: 60px 20px;
}

.section-pre {
  background-color: #e7ecff; 
}

.section-me {
  background-color: #ffffff;
}

.section-proy {
  background-color: #e7ecff;
}

.section-cont {
  background-color: #ffffff;
}

.presentacion,
.sobre-mi,
.proyectos,
.contacto {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}


footer {
  background-color: #04154d; 
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}