* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #0A2A6C;
  color: #111;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 1rem;
}

.menu {
  display: none;
  flex-direction: column;
  background-color: #333;
}

.menu a {
  color: white;
  padding: 1rem;
  text-decoration: none;
  border-top: 1px solid #444;
}

.menu a:hover {
  background-color: #444;
}

.hamburguesa {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.hamburguesa span {
  width: 25px;
  height: 3px;
  background: white;
  margin: 4px 0;
}

#toggle {
  display: none;
}

#toggle:checked+.hamburguesa+.menu {
  display: flex;
}

@media (min-width: 768px) {
  .hamburguesa {
    display: none;
  }

  .menu {
    display: flex;
    flex-direction: row;
  }

  .menu a {
    border: none;
    padding: 1rem 2rem;
  }
}

section {
  padding: 60px 20px;
}

.section-pre {
  background-color: #FFD700;
}

.section-me {
  background-color: #0A2A6C;
}

.section-proy {
  background-color: #FFD700;
}

.section-cont {
  background-color: #0A2A6C;
}

.presentacion,
.sobre-mi,
.proyectos,
.contacto {
  max-width: 800px;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 1.6;
}

.contenedor-proyectos {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 20px 0;
}

.tarjeta-proyecto {
  background-color: #0c1f4a;
  border: 2px solid white;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 0 15px rgba(0, 242, 255, 0.2);
  transition: transform 0.3s;
}

.tarjeta-proyecto:hover {
  transform: scale(1.02);
}

.imagen-proyecto {
  background-color: #04154d;
  color: #FFD700;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  padding: 40px 0;
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.imagen-proyecto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.info-proyecto {
  padding: 1rem;
  color: white;
  font-size: 0.95rem;
}

.info-proyecto h3 {
  color: #FFD700;
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
}

.descripcion {
  color: #ccc;
  font-style: italic;
  margin-bottom: 0.5rem;
}

.enlaces {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.enlaces a {
  color: #FFD700;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.enlaces a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .contenedor-proyectos {
    flex-direction: column;
    align-items: center;
  }
}



footer {
  background-color: #04154d;
  color: white;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}